PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER/dbname
CLIENT_URL=https://tdc-assignment-32ud.vercel.app
GEMINI_API_KEY=
DUMMY_AUTH_EMAIL=admin@matchmaker.ai
DUMMY_AUTH_PASSWORD=admin123
